* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, Arial, sans-serif;
  background-color: rgb(30, 27, 31);
}

#experience {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  outline: none;
}

.menu {
  padding-top: 1em;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-container {
  display: block;

  margin: 1em 0;
  padding: 0.7em;
  width: 70%;
  height: auto;

  border: 2px solid #fff;
  border-radius: 4px;

  background-color: rgba(42, 41, 40, 0.5);
}

.menu-game {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu-game-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  gap: 0.5em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
